.about {
  background-color: #f0f0f0;
  display: flex;
  color: #263d40;
  scroll-margin-top: 89.8px;
}

.about__image {
  width: 35vw;
  object-fit: contain;
  margin: 5% 0 5% 80px;
}

.about__image-mobile {
  display: none;
}

.about__text {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  padding: 0 10% 0 8%;
  justify-content: center;
}

.about__title {
  font-size: 2rem;
  font-weight: 700;
}

.about__description {
  margin: 0 0 0.67rem;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .about__description {
    font-size: 1rem;
  }
}

@media screen and (max-width: 544px) {
  .about__image {
    display: none;
  }

  .about__image-mobile {
    display: block;
    width: 70vw;
    object-fit: contain;
    margin: 5% 0 5%;
  }
}
