.header {
  background-color: aliceblue;
}

.header__cover {
  background-image: url(/images/background03.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  align-content: center;
  color: aliceblue;
}

.header__title {
  margin-left: 80px;
  font-weight: 700;
  font-size: 76px;
  color: #263d40;
}

.header__subtitle {
  margin-left: 80px;
  font-size: 28px;
  font-weight: 600;
}

.header__text {
  margin-left: 80px;
  margin-bottom: 50px;
}

.header__button {
  margin-left: 80px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #f0f0f0;
  border-style: solid;
  border-width: 2px;
  padding: 15px 25px;
  background-color: #263d40;
}

.header__button:hover {
  color: #263d40;
  background-color: #f0f0f0;
  transform: scale(1.05);
  transition: 0.35s;
  cursor: pointer;
}
