.header {
  background-color: aliceblue;
}

.header__cover {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  align-content: center;
  color: aliceblue;
}

.header__title {
  margin-left: 8%;
  font-weight: 700;
  font-size: 76px;
  color: #263d40;
}

.header__subtitle {
  margin-left: 8%;
  font-size: 28px;
  font-weight: 600;
}

.header__text {
  margin-left: 8%;
  margin-bottom: 50px;
}

.header__button {
  margin-left: 8%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #f0f0f0;
  border-style: solid;
  border-width: 2px;
  padding: 15px 25px;
  background-color: #263d40;
}

.header__button:hover {
  color: #263d40;
  background-color: #f0f0f0;
  transform: scale(1.05);
  transition: 0.35s;
  cursor: pointer;
}

@media screen and (max-width: 1104px) {
  .header__title {
    font-size: 66px;
    margin-right: 15px;
  }

  .header__subtitle {
    font-size: 25px;
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .header__cover {
    background-image: url(../images/background-tablet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 425px) {
  .header__cover {
    background-image: url(../images/background-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  .header__title {
    font-size: 60px;
    color: aliceblue;
  }

  .header__subtitle {
    font-size: 25px;
  }

  .header__text {
    margin-bottom: 50px;
    font-size: 15px;
  }
}

@media screen and (max-width: 320px) {
  .header__cover {
    background-image: url(../images/background-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header__title {
    font-size: 40px;
    color: aliceblue;
  }

  .header__subtitle {
    font-size: 18px;
  }

  .header__text {
    font-size: 16px;
  }
}
