.my-work {
  background-color: #456e73;
  padding: 5% 0 6%;
  scroll-margin-top: 89.8px;
}

.my-work__title {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  padding-top: 26.56px;
  margin-left: 10%;
}

.my-work__columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 3%;
  column-gap: 5%;
}

.my-work__column {
  background-color: #f0f0f0;
  color: #263d40;
  max-width: 25%;
  min-width: 320px;
  margin-bottom: 5%;
  border-radius: 10%;
}

.my-work__column-image {
  max-width: 100%;
}

.my-work__column-title {
  text-decoration: none;
  color: #263d40;
  font-weight: 700;
  font-size: 1.2rem;
  padding-left: 7%;
  display: inline-flex;
  align-items: center;
  margin: 21px 0;
}

.my-work__column-title:hover {
  color: #456e73;
}

.my-work__column-seta {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.my-work__column-title:hover .my-work__column-seta {
  transform: translateX(5px);
}

.my-work__column-description {
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 0;
  font-size: 1.1rem;
}

@media screen and (max-width: 1024px) {
  .my-work__title {
    margin-left: 16%;
  }
}

@media screen and (max-width: 544px) {
  .my-work__title {
    margin-left: 19%;
  }
}

@media screen and (max-width: 425px) {
  .my-work__title {
    margin-left: 14%;
    margin-right: 14%;
  }
}

@media screen and (max-width: 375px) {
  .my-work__title {
    margin-left: 15%;
  }
}
