.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 1600px;
  z-index: 1000;
}

.nav__logo {
  max-width: 50px;
  max-height: 50px;
  margin: 20px 0 15px 80px;
}

.nav__links {
  list-style-type: none;
  padding: 0;
  margin: 35px 80px 0 0;
  display: flex;
  column-gap: 20px;
  justify-content: flex-end;
}

.nav__link {
  text-decoration: none;
  color: #456e73;
  font-weight: 600;
}

.nav__link:hover {
  color: #263d40;
  transform: scale(1.05);
  transition: 0.35s;
  cursor: pointer;
  text-shadow: 0 0 10px #456e73;
}

.nav__toggle {
  display: none;
}

.nav__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
  margin-right: 80px;
}

.nav__hamburger span {
  display: block;
  height: 3px;
  background: #456e73;
  border-radius: 2px;
  transition: 0.3s;
}

.nav__toggle:checked + .nav__hamburger span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav__toggle:checked + .nav__hamburger span:nth-child(2) {
  opacity: 0;
}

.nav__toggle:checked + .nav__hamburger span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 768px) {
  .nav__hamburger {
    display: flex;
  }

  .nav__links {
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    gap: 10px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    background: aliceblue;
    position: absolute;
    top: 70px;
    right: 0;
  }

  .nav__toggle:checked + .nav__hamburger + .nav__links {
    max-height: 500px;
    padding: 10px 20px;
  }

  .nav__links li {
    text-align: right;
  }

  .nav__logo {
    margin-left: 20px;
  }

  .nav__hamburger {
    margin-right: 20px;
  }
}
